In [ ]:
# here are two other built-in data structures in Python that we are going to review today – Tuples and Sets
# You’re less likely to use these data structures at this point in your coding journey, but they can be very useful in the future for some particular situations.
# Feel free to follow along in your environment!


# A tuple is an immutable/unchangeable, ordered object
# Delineated with the use of parentheses ()
# You can change a list into a tuple by using the tuple()


# Tuples are preferred to lists if you don’t want your data to be changed at any point
# They also take up much less memory
# There are only two tuple methods! count() and index()


# count()	Returns the number of times a specified value occurs in a tuple
# index() Searches the tuple for a specified value and returns the position of where it was found

# Tuple unpacking/multiple assignment
# # the ability to have a tuple on the left side of an assignment statement. This allows you to assign more than one variable at a time.
# # Tuples are often used in Python to group multiple values together into a single container. Each value within the tuple is typically related.
# # Swap variables/values
# We can use tuple unpacking on a list and a dictionary too!

#example of dictionary use with tuples




stock_data = {
    "symbol" : "AAPL",
    "price": 150.25,
    "quantity" : 1000
}

symbol, price, quantity = stock_data["symbol"],stock_data["price"],stock_data["quantity"]

print(price,  quantity)

150.25 1000

In [ ]:
#variable swap

a =5
b= 10

print(a,b)
a,b = b,a

print(a,b)
print(b,a)

5 10
10 5
5 10

In [ ]:
#tuples being used to unpack an or assign multiple times

robot = ("bender", 2296, 2716057, "bending unit")
Name, year, serial, model = robot

print(year, Name, serial, model)

print(Name, year, serial, model)

2296 bender 2716057 bending unit
bender 2296 2716057 bending unit

In [ ]:
#function of count() which returns the number of times a specificed value occurs in a tuple



my_tuple = (3,4,2,1,5,6,4,2,3)
my_tuple.count(3)#this means that the number 3 was shown 3 times in this tuple

0

In [ ]:
#index() Searches the tuple for a specified value and returns the position of where it was found
my_tuple = (3,4,2,8,1,5,6,4,2)

my_tuple.index(4)

#this means that the number 4 was found at position 1

my_tuple.index(8)

#this means the number 8 was found at position 3

3

In [ ]:
# We can use tuple unpacking on a list and a dictionary too!

times = "2024, 01, 01, 23, 59"
times_list = times.split(",")
year, month, day, hour, minute = times.split(",")

print("year: " + year + " month: " + month + " day " + day)

year: 2024 month:  01 day  01

In [ ]:
#we can use an underscore as a placeholder vor falues you wanna ignore in the tuple

# times = "2024, 01, 01, 23, 59"
# year,_,_,_, _ = times.split(",")
# year

times = "2024, 01, 01, 23, 59"
_,month,_,_, _ = times.split(",")
month

' 01'

In [ ]:
#We can use it on nested data structures too!
coordinates = [(40.7128, 74.0060), (42.6526, 73.7562), (42.0987,75.9180)]
#use tuple unpacking
(new_york_lat,new_york_long),albany,binghamton= coordinates
print(new_york_lat)
print(albany)

40.7128
(42.6526, 73.7562)

In [ ]:
# Exercise 1:
# Let’s create a tuple of your choice. For example, it can represent a student’s information, including their name, ID, and email.
# Next, create a list of tuples. For instance, each tuple can represent the information of a different student.
# Use tuple unpacking to print out the name, ID, and email of a specific student from your list of tuples. Alternatively, print the information from one specific tuple within your chosen list of tuples.
# Lastly, create a new tuple and add it to your list.


# info = ("Joshua",141, "jcheuk2")
# first, ID, email = info

# info2 = ("isabell , 142, icheuk2")
# info2_list = info2.split(",")
# first, ID, email = info2.split(",")


# print("name: " + first + " ID: " + ID + " email " + email)


info3 = "Joshua,141,jcheuk2, isabell , 142, icheuk2"
info3 = info3.split(",")
name1, ID1, email1, name2, ID2, email = info3.split(",")
(name1,ID1,email1),(name2,ID2,email2)= student_info

print(ID2)


IDK WHAT THIS IS COME BACK TO THIS.

AttributeError: 'tuple' object has no attribute 'split'

**→ Sets ←**




*   In contrast, sets are mutable, unordered objects that do NOT contain duplicates
*   They are delineated by {} curly brackets
*  Cannot store mutable objects in a set like lists & dictionaries

*  You use sets when you want to store unique info but the order of that info is not important – also faster than a list
** Used frequently in mathematical operations
* You cna't have duplicates in sets

In [3]:
#exercise 2:

# Let’s create an empty set.
# Next, create a list of at least 5 items. Make sure you have at least one duplicate item in your list.
# Now, turn this list you just created into a set. So we can get rid of the duplicates.
# Last, turn this new set back into a list and print it out.
# You can explore set methods if you have extra time and there are plenty!
set1 = {}

list1=["book","bottle","pen","pen","phone"]

set1 = set(list1)

print(set1)

list1=list(set1)

print(list1)

{'book', 'phone', 'pen', 'bottle'}
['book', 'phone', 'pen', 'bottle']